<<<<<<< HEAD
body {
  margin: 0;
  background: #252837;
}


@tailwind base;
@tailwind components;
@tailwind utilities;



/* scroll bar styling */
:root {
  --primary: #FBC8C8;
  /* --primary: #252837; */
  --secondary: #F17E6C;
}

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 2px solid var(--primary);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
=======
.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  border-radius: 8px 8px 0 0;
  height: 200px; /* Set the fixed height for the card images */
  object-fit: cover; /* Maintain the aspect ratio and crop the image if necessary */
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-text {
  color: #555;
}

.btn-primary {
  margin-top: 10px;
}
>>>>>>> origin/main
